body
{
    font-family: sans-serif;
    background-color: #0B4659;
    color: white;
}
#title
{
    text-align: center;
}
.taskbar
{
    text-align: center;
}
.taskbar span
{
    border: 2px solid #306F84;
    border-radius: 15px; 
    font-size: 25px;
    padding: 6px;
}
.taskbar span:hover
{
    background-color: lightgray;
}
.ad
{
    display: block;
    margin-top: 3%;
    margin-bottom: 55%;
    text-align: center;
}
#adLeft
{
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}
#adRight
{
    float: right;
    margin-right: 5%;
    margin-left: 5%;
}
.content
{
    display: block;
    overflow: auto;
    text-align: center;
    margin-top: 5%;
    border: 5px solid #142162;
    background-color: #306F84;
    font-size: 24px;
}
.content #contact
{
    
}